@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;

  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #f8fbff 30%,
    #eef5ff 70%,
    #ffffff 100%
  );

  color: #111827;
}